.signup-btn a {
  color: blue;
  text-decoration: underline;
}

.signup-btn {
  padding-top: 2rem;
}

.login-btnn {
  background-color: #007bff;
  color: #ffffff;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.login-btnn:hover {
  cursor: pointer;
  background-color: #0866e2;
  transform: scale(1.02);
}
