.products-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  /* background-color: #f5f5f7; */
  background: linear-gradient(135deg, #e3f2fd, #ffffff);

  min-height: 100vh;
}
